/* Watchlist container styling */
.watchlist-container {
    width: 200px;
    max-width: 300px;
    background-color: white;
    color: #1a1a1a;
    border-radius: 12px;
    padding: 0px 0px;
    font-family: Arial, sans-serif;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 2px;
    box-shadow: 0 2.5px 3px rgba(0, 0, 0.8, 0.22);
}

.watchlist-container h2 {
    padding: 10px 20px;
}

.watchlist-container hr {
    border: none;
    border-top: 1px solid rgb(229, 231, 235);
    width: 100%;
    margin: 0px;
}

/* Header styling */
.watchlist-container-header {
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Watchlist items */
.watchlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Individual watchlist title */
.list-title {
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.list-title:hover {
    background-color: whitesmoke;
}

/* Watchlist stocks */
.list-title ul {
    list-style: none;
    padding: 5px 10px;
    margin: 0px;
}

.list-title ul li {
    padding: 5px 0px;
    font-size: 12px;
    color: #2b2b2b;
    transition: color 0.2s;
    margin-bottom: 0px;
}

.list-title ul li:hover {
    color: green;
}