/* General Container */
.container {
    display: flex;
    height: 100vh; /* Full viewport height */
}

/* Left half with the GIF */
.left-half {
    flex: 1;
    display: flex;
    justify-content: center; /* Center the GIF horizontally */
    align-items: center; /* Center the GIF vertically */
    background-color: #000000; /* Optional background color */
}

.left-half img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the GIF is properly contained */
}

/* Right half with the Login form */
.right-half {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form horizontally */
    justify-content: center;
    padding: 20px;
    background-color: #000000; /* Optional background color */
    color:white;
}

.right-half .login{
    font-size: 2rem;
    margin-bottom: 20px;
}

.right-half form {
width: 100%;
max-width: 400px; /* Max width of the form */
}

.right-half label {
display: block;
margin-bottom: 10px;
}

.right-half input {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 4px;
}

.right-half button {
width: 100%;
padding: 10px;
background-color: white;
color: black;
border: none;
border-radius: 50px;
cursor: pointer;
}

.right-half button:hover {
    box-shadow: 0 4px 8px rgba(169, 169, 169, 0.6); /* Gray shadow */
}
