* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.left-half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.left-half img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-half {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #000000;
    color: white;
    position: relative;
}

.right-half .login {
    font-size: 24px;
    margin-top: 14vh;
    margin-bottom: 20px;
}

.right-half form {
    width: 100%;
    max-width: 400px;
}

.right-half label {
    display: block;
    margin-bottom: 8px;
}

.right-half input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-size: 16px;
}

.right-half input:focus {
    border-color: white;
    outline: none;
}

.right-half button {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
}

.right-half button:hover {
    box-shadow: 0 4px 8px rgba(169, 169, 169, 0.6);
}

.button-container {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.button-container button {
    width: 50%;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.button-container button:hover {
    box-shadow: 0 4px 8px rgba(169, 169, 169, 0.6);
}